<div class="card-columns">
    <div *ngFor="let item of listaRoles" class="card">
        <img src="/assets/img/img_avatar3.png" class="card-img-top" alt="...">
        <h5 class="card-header alert-dark m-5">{{item.applications}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{item.applications[0].application}}</h5>
            <p class="card-text">{{item.roles}}</p>
        </div>
    </div>
</div>