<div class="card-columns">
    <div *ngFor="let item of items" class="card border-primary mb-3">
        <img src="/assets/img/img_avatar3.png" class="card-img-top" alt="...">
        <h5 class="card-header alert-dark">{{item.username}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{item.full_name}}</h5>
            <p class="card-text">{{item.roles}}</p>
            <a class="btn btn-primary puntero" (click)="verUsuario(item)">Ir ..</a>
        </div>
    </div>
</div>